{% autoescape off %}
Hello {{user.username}},


we received a request to reset the password for your account for this email addres . click on the link below

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

this link can only be used once . if you need to reset the password again, please do it again in the website 

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.


if you didnt make this request , you can simply ignore it 


your username is : {{user.username}}

Wish you the BEST
{% endautoescape %}