

{% block content %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Password reset</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
    <link rel="stylesheet" href="{%static 'css/password-reset.css' %}">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h1>Change password</h1>
			</div>
			<div class="card-body">
				<form method="post" action="#">
                    {% csrf_token %}
                    <p>Your password reset is successful. Log in with new credentials</p>
                    
					<div class="form-group">
						<a type="submit" value="complete" class="btn float-right login_btn" href="{% url 'accounts:login' %}">Login</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{% endblock %}